body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;

  overflow: auto;
  height: 100vh;
  background: #47bedf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  margin-top: 2rem;
  background: linear-gradient(papayawhip, white);
  color: black;
  width: 315px;
  height:400px;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px gray;
}

.auto{
  height:auto;
}

.toggle-btn{
  margin: 1rem 0 0 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background: black;
  height: 25px;
}
.toggle-btn:hover{
  box-shadow: 0px 0px 10px 1px gray;
  cursor: pointer;
}
.toggle-btn:active{
  transform: scale(.95);
}


.input-container{
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  width: 90%;
 
}
.input-container input{
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  margin-right: .5rem;
}

.input-container button{
    height: 35px;
    margin-top: .5rem;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
}

.input-container button:active{
    transform: scale(.95);
}

.input-container button:hover{
    box-shadow: 0px 0px 10px 1px gray;
    cursor: pointer;
}

.isEmpty{
  margin: 1rem;
}

.main-container{
  margin: .5rem;
}


/* this is for the Card component*/
.card-container{
  border: 2px black solid;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 0px 10px 1px gray;
}


.card-header h1{
  display: inline;
  font-size: 3em;
}

.card-header p{
  display: inline;
}

.card-header h2{
  margin: 0; 
}

.expect{
  font-size: 1.4em;
}

.btn-container{
  display: flex;
  justify-content: center;
  margin: .2rem;
}

.btn-container button{
  width: 33%;
  color: white;
  background: black;
  border: 1px white solid;
  font-size: .9em;
  border-radius: 5px;
}
.btn-container button:hover{
  transform: scale(.98);
  cursor: pointer;
}
.btn-container button:active{
  transform: scale(.98);
}

.hour-cards-container h1{
  font-size: 1.85em;
}

.hour-card{
  border: 2px black solid;
  border-radius: 5px;
  margin: 1rem 0;
  box-shadow: 0px 0px 10px 1px gray;
  padding: .5rem;
}

/* dark mode */
.dark-mode{
  background: black;
  color: white;
}

.dark-mode button{
  border: 2px silver solid;
}
